Backend/node_modules/
Frontend/node_modules/
!node_modules\timeago.js\lib\format.js
package-lock.json
SSL/
error.log
uploads/
src/public/audio/
src/public/img/
src/public/media/
.scannerwork/
.vscode
.config.dev.env
.config.prod.env
keys/
salida*
docs/
*.cert
*.key
templates22/